<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>C-language.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>改良的选择排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>数字拆解.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>数组平衡点.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70F5005B1DE28A81003A7773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F500661DE28F18003A7773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F5F8811DE1670400BD9C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F5F88F1DE168BA00BD9C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70F5F8CA1DE275BF00BD9C16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
